.zindex-10 {
    z-index: 10;
}

.carousel-indicators [data-bs-target] {
    background-color: #334e6f !important
}

.subtitle {
    color: #0F3460;
    margin-bottom: 21.6px;
    margin-top: 0px;
    font-size: 14px;
}

.title-box {
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 25px;
    font-weight: 700;
    line-height: 1;
}

.icon-title-box {
    margin-right: 8px;
}

.view-all,
.view-all:hover {
    color: #7d879c;
    text-decoration: none;
    font-size: 14px;
}

.extra-icons {
    top: 7px;
    right: 15px;
    cursor: pointer;
    display: flex;
    z-index: 2;
    position: absolute;
    flex-direction: column;
}

.MuiCard-root:hover .extra-icons {
    display: flex;
}

.MuiCard-root .extra-icons .MuiFab-root {
    width: 36px;
    height: 36px;
    background-color: transparent;
    box-shadow: none;
    color: rgba(0, 0, 0, 0.54);
}

.slick-slide {
    padding: 0 15px;
  }