$app--white: #ffffff;
$app--black: #000000;
$app--text: #2B3445;
$app--bacground: #0c0e30;
$app--primary:#d23f57;
$app--icon: #7d879c;

$app--red--050: #d8d8d8;
$app--red--100: #ffcdc1;
$app--red--200: #ffad9a;
$app--red--300: #ff8d72;
$app--red--400: #ff7253;
$app--red--500: #ff5938;
$app--red--600: #fd5333;
$app--red--700: #ee4c2e;
$app--red--800: #e0452a;
$app--red--900: #da2128;
