@import './_colours.scss';

/* Mixin */
// Khai báo kích thước tương ứng với màn hình thiết bị
   
$XS:480px;   
$SM:768px;  
$MD:1024px;   
$XL:1170px;     


// media queries

@mixin Responsive($canvas) {
  @if $canvas == XS {
   @media only screen and (min-width: $XS) { @content; } 
  }
  @else if $canvas == SM {
   @media only screen and (min-width: $SM) { @content; } 
  }
  @else if $canvas == MD {
   @media only screen and (min-width: $MD) { @content; } 
  }
  @else if $canvas == XL {
   @media only screen and (min-width: $XL) { @content; } 
  }
}

.header{
  display: flex;
  align-items: flex-end;
  margin-bottom: 24px;
  svg{
      margin-right: 8px;
      color: $app--primary;
  }
}

.spacingLine{
  margin-bottom: 2rem;
}


.gridView{
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 10px;

  .item{
    padding: 8px;
    
    small{
      font-size: 0.75rem;
      line-height: 1.5;
      color: $app--icon;
      margin-bottom: 4px;
      text-align: left;
      text-transform: none;
      white-space: normal;
    }
  }
  
  > *{
      flex: 1 1 0;
  }
}

.marginTop{
  margin-top: 50px;
}